body {
    background: #eee;
    padding: 0 16px;
  }
  
  header {
    background-color: #65ECC4;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  
  header h1 {
    width: 602px;
    height: 88px;
    font-family: Impact;
    font-size: 72px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333434;
    text-align: center;
  }  

  .box {
    width: 300px;
    margin-top: 10px;
    font-size: 30px;
  }

  .from{
    float: right;
  }

  .to{
    float: left;
  }

  input {
    position: relative;
    width: 300px;
    height: 200px;
    margin-top: 10px;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 30px;
    font-family: inherit;
    text-align: center;
    background: rgb(233, 233, 233);
    border-radius: 5px;
  }

  .selectcurrency {
    margin-top: 30px;
  }

  .currency {
    width: 300px;
    height: 50px;
    position: relative;
    border: solid 2px #25e3a9;
    font-family: HiraginoSans-W3;
    font-size: 20px;
  }

  #arrowButton {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #65ECC4;
  }

  #button{
    margin-top: auto;
    margin-bottom: auto;
  }

  footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }